@font-face {
  font-family: "JioType-Bold";
  src: url("./Font/JioType-Bold_0.ttf");
}
@font-face {
  font-family: "Jio-Light";
  src: url("./Font/JioType-Light_0.ttf");
}

@font-face {
  font-family: "JioType-LightItalic";
  src: url("./Font/JioType-LightItalic_0.ttf");
}

@font-face {
  font-family: "JioType-Medium";
  src: url("./Font/JioType-Medium_0.ttf");
}

@font-face {
  font-family: "JioType-MediumItalic";
  src: url("./Font/JioType-MediumItalic_0.ttf");
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maindiv {
  display: flex;
}
